
<div style="background:#111;">

  <div style="background: linear-gradient(135deg, #222222 0%, #333333 100%); color: white; padding: 15px; text-align: center; border: 5px solid #aba; border-top:none; border-left:none; border-right:none;">
      <h1 style="font-family: Arial, sans-serif, cursive; margin-bottom: 0;">Movie organizer</h1>
  </div>
    
    <div style="border: 6px solid #787; border-top: none; border-bottom: none; padding: 20px; margin: 0 auto; width: 80%; background-color:  #4e0202; color: white;">
    
      <!-- Header -->
      <header>
        <nav>
          
        </nav>
        
      </header>
    
      <!-- Body content -->
      <div style="display: flex; justify-content: space-between; align-items: center;">
        
    

        <app-movie-search></app-movie-search>

      </div>
    
      
      <!--
      <button mat-raised-button color="primary">Primary Button</button>
      <button mat-raised-button>Secondary Button</button>
  -->
    
      <!-- Footer -->
      <footer style="text-align: center; margin-top: 30px;">
        © 2024 Mister Rob
        
      </footer>
    </div>
  
  <div style="background: linear-gradient(135deg, #222222 0%, #333333 100%); color: white; padding: 20px; text-align: center; border: 5px solid #aba; border-bottom:none; border-left:none; border-right:none;">
      
  </div>
    
    
  
</div>

